.navbar-brand
{
  font-size: 30px;
}

.bg-dark {
  background-color: #121212 !important;
}

.sign-up-form {
  padding-top: 30px;
}

.container {
  background-color: #efefef;
}

.account-container {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
}

.login-container {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
}

.account-container btn {
  text-align: right;
}